* {
	box-sizing: border-box;
}
body {
	font-family: "Patrick Hand SC", cursive;
	font-weight: 400;
	font-style: normal;
	background-color: rgb(151, 193, 228);
}
h1 {
	margin-top: 0;
	font-size: 5em;
	color: rgb(174, 129, 92);
}

h2 {
	margin-top: 0;
	font-size: 20px;
}

h3 {
	margin-top: 0;
	font-size: 18px;
}

h4 {
	margin-top: 0;
	font-size: 16px;
}

h5 {
	margin-top: 0;
	font-size: 14px;
}

h6 {
	margin-top: 0;
	font-size: 12px;
}

code {
	font-size: 1.2em;
}

ul {
	padding-inline-start: 20px;
}

* {
	box-sizing: border-box;
}

.square {
	background: rgba(230, 201, 177, 0.8);
	border: 1px solid #999;
	float: left;
	font-family: "Patrick Hand SC", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 60px;
	font-weight: bold;
	line-height: 34px;
	height: 100px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	width: 100px;
}
.square :first-child {
	border-top: none;
}

.board-row:after {
	clear: both;
	content: "";
	display: table;
}

.status {
	color: #ff0000;
	text-align: center;
	margin-bottom: 40px;
	font-size: xx-large;
}
.game {
	display: flex;
	flex-direction: row;
}

.game-info {
	margin-left: 20px;
}
#game-container {
	height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#board-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
